@model PagedList.IPagedList<QFinans.Areas.Api.Models.CashFlowType>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Shift Türü";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3 border-bottom">
            <h5 class="card-title">İşlem Türü</h5>
            <div>
                <a class="btn btn-xs btn-success" href="@Url.Action("Create", "CashFlowType")"><i class="fas fa-plus-circle"></i> İşlem Türü Ekle</a>
            </div>
        </div>

        @using (Html.BeginForm("Index", "CashFlowType", FormMethod.Get, new { @id = "formSearch" }))
        {
            <div class="row mb-2">
                <div class="col-md-12 ">
                    <div class="d-flex">
                        <select class="custom-select custom-select-sm" id="selectPageSize" name="CustomPageSize" onchange="getPageSize()" style="width:80px;">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="250">250</option>
                        </select>
                        <div class="flex-grow-1">
                            <div class="input-group justify-content-end">
                                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control form-control-sm", @placeholder = "Arama yapmak için bir kelime yazın", @aria_describedby = "button-addon2" })
                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-info" type="submit" id="button-addon2"><i class="fas fa-search"></i> Ara</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="table-responsive">
            <table class="table table-sm table-bordered table-hover table-dark text-white-50">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Adı
                    </th>
                    <th>Açıklama Gerekli mi?</th>
                    <th>Diğer Kullanıcılar Görsün mü?</th>
                    <th>İşlem Sayısına Dahil Edilsin mi?</th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @if (item.IsExplanationRequired)
                            {
                                <span><i class="fas fa-check"></i></span>
                            }
                            else
                            {
                                <span></span>
                            }
                        </td>
                        <td>
                            @if (item.IsOtherUserSee)
                            {
                                <span><i class="fas fa-check"></i></span>
                            }
                            else
                            {
                                <span></span>
                            }
                        </td>
                        <td>
                            @if (item.IsTransactionCount)
                            {
                                <span><i class="fas fa-check"></i></span>
                            }
                            else
                            {
                                <span></span>
                            }
                        </td>
                        <td>
                            @*<a class="btn btn-xs btn-info" href="@Url.Action("Details", "CashFlowType", new { id = item.Id })" title="Detay"><i class="fas fa-search-plus"></i></a>*@
                            <a class="btn btn-xs btn-warning" href="@Url.Action("Edit", "CashFlowType", new { id = item.Id })" title="Düzenle"><i class="far fa-edit"></i></a>
                            <button type="submit" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#exampleModal-@item.Id" title="Sil"><i class="far fa-trash-alt"></i></button>
                            <div class="modal fade" id="exampleModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Sil</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        @using (Html.BeginForm("Delete", "CashFlowType", new { id = item.Id }, FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="modal-body">
                                                <div class="alert alert-danger" role="alert">
                                                    Silmek istediğinizden emin misiniz?
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-info" data-dismiss="modal"><i class="fas fa-times-circle"></i> Vazgeç</button>
                                                <button type="submit" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i> Sil</button>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }

            </table>
        </div>

        <hr />
        <div class="row">
            <div class="col-sm-2">
                <span>Sayfa @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
            </div>
            <div class="col-sm-10">
                @Html.PagedListPager(Model, page => Url.Action("Index", "CashFlowType", new { page = page, currentFilter = ViewBag.CurrentFilter })
                                                                            , new PagedListRenderOptions
                                                                            {
                                                                                UlElementClasses = new string[] { "pagination pagination-sm justify-content-end my-0" },
                                                                                LiElementClasses = new string[] { "page-item" },
                                                                                ContainerDivClasses = new string[] { "page float-right" }
                                                                            })
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $("#selectPageSize").val(@ViewBag.CustomPageSize);
        function getPageSize() {
            $("#formSearch").submit();
        };
    </script>
}

