@model QFinans.Areas.Api.Models.AccountTransactions

@{
    ViewBag.Title = "Çekim Talebi Oluştur";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Çekim Talebi Oluştur</h5>
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.SurName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SurName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SurName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group row">
                @Html.LabelFor(model => model.AccountInfoId, null, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("AccountInfoId", null, "Seçiniz", htmlAttributes: new { @class = "form-control", @id = "", @required = "required" })
                    @Html.ValidationMessageFor(model => model.AccountInfoId, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group row">
                @Html.LabelFor(model => model.CustomerAccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerAccountNumber, new { htmlAttributes = new { @class = "form-control", @maxlength = "10", @minlength = "10", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.CustomerAccountNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr />
            <a class="btn btn-sm btn-info" href="@Url.Action("Draw", "AccountTransactions")"><i class="fas fa-arrow-circle-left"></i> Geri Dön</a>
            <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-save"></i> Kaydet</button>
        }
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.tr.js"></script>
}