@model QFinans.Areas.Api.Models.AccountInfo

@{
    ViewBag.Title = "Hesap Düzenle";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3 border-bottom border-secondary">
            <h5 class="card-title">Hesap Düzenle</h5>
            <div>
                <button type="submit" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#exampleModal-@Model.Id" title="Sil"><i class="far fa-trash-alt"></i> Sil</button>
                <div class="modal fade" id="exampleModal-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Sil</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            @using (Html.BeginForm("Delete", "AccountInfo", new { id = Model.Id }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="modal-body">
                                    <div class="alert alert-danger" role="alert">
                                        Silmek istediğinizden emin misiniz?
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-info" data-dismiss="modal"><i class="fas fa-times-circle"></i> Vazgeç</button>
                                    <button type="submit" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i> Sil</button>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group row">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.SurName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SurName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SurName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control", @maxlength = "10", @minlength = "10" } })
                    @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.AccountInfoTypeId, null, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("AccountInfoTypeId", null, "Seçiniz", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AccountInfoTypeId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.OpeningDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OpeningDate, new { htmlAttributes = new { @class = "form-control", @type = "date", @Value = String.Format("{0:yyyy-MM-dd}", Model.OpeningDate) } })
                    @Html.ValidationMessageFor(model => model.OpeningDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.AccountAmountRedirectId, null, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("AccountAmountRedirectId", null, "Seçiniz", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AccountAmountRedirectId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.OrderNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OrderNumber, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                    @Html.ValidationMessageFor(model => model.OrderNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Device, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Device, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Device, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.SimLocationId, null, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SimLocationId", null, "Seçiniz", htmlAttributes: new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.SimLocationId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.AccountInfoStatusId, null, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("AccountInfoStatusId", null, "Seçiniz", htmlAttributes: new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.AccountInfoStatusId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.IsPassive, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="custom-checkbox">
                        @Html.EditorFor(model => model.IsPassive, new { @class = "custom-control-input" })
                        @Html.ValidationMessageFor(model => model.IsPassive, "", new { @class = "text-danger" })
                        <small class="form-text text-muted">Hesabı pasife çekmek için tik ekleyin, aktif etmek için tiki kaldırın</small>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.IsArchive, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="custom-checkbox">
                        @Html.EditorFor(model => model.IsArchive, new { @class = "custom-control-input" })
                        @Html.ValidationMessageFor(model => model.IsArchive, "", new { @class = "text-danger" })
                        <small class="form-text text-muted">Hesabı arşivlemek için tik ekleyin, arşivden çıkarmak için tiki kaldırın</small>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Explanation, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Explanation, new { @class = "form-control", @rows = "6" })
                    @Html.ValidationMessageFor(model => model.Explanation, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr />
            if (Model.IsArchive == true)
            {
                <a class="btn btn-sm btn-info" href="@Url.Action("ArchiveAccount", "AccountInfo")"><i class="fas fa-arrow-circle-left"></i> Geri Dön</a>
            }
            else
            {
                <a class="btn btn-sm btn-info" href="@Url.Action("Index", "AccountInfo")"><i class="fas fa-arrow-circle-left"></i> Geri Dön</a>
            }

            <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-save"></i> Kaydet</button>
        }


    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.tr.js"></script>
}
