@model PagedList.IPagedList<QFinans.Areas.Api.Models.AccountInfo>
@using PagedList.Mvc;
@{
    /**/

    ViewBag.Title = "Bakiye Bilgileri";

    DateTime date = DateTime.Now.Date;
    DateTime startDate = new DateTime(date.Year, date.Month, 1); ;
    DateTime endDate = startDate.AddMonths(1).AddSeconds(-1);
}

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3 border-bottom">
            <h5 class="card-title">Bakiye Bilgileri</h5>
            <div>
                <a class="btn btn-xs btn-success" href="@Url.Action("Create", "AccountInfo")"><i class="fas fa-plus-circle"></i> Hesap Ekle</a>
            </div>
        </div>

        @using (Html.BeginForm("TotalAmount", "AccountInfo", FormMethod.Post, new { @id = "formSearch" }))
        {
            <div class="row mb-2">
                <div class="col-md-12 ">
                    <div class="d-flex">
                        <select class="custom-select custom-select-sm" id="selectPageSize" name="CustomPageSize" onchange="getPageSize()" style="width:80px;">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="250">250</option>
                        </select>
                        <div class="flex-grow-1">
                            <div class="input-group justify-content-end">
                                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control form-control-sm", @placeholder = "Arama yapmak için bir kelime yazın", @aria_describedby = "button-addon2" })
                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-info" type="submit" id="button-addon2"><i class="fas fa-search"></i> Ara</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="table-responsive">
            <table class="table table-sm table-bordered table-hover table-dark text-white-50">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        İsim
                    </th>
                    <th>
                        Soyisim
                    </th>
                    <th>
                        Hesap No
                    </th>
                    <th>
                        İşlem Sayısı <span data-toggle="tooltip" data-placement="bottom" title="@startDate @endDate arasındaki onaylı yatırım sayısı."><i class="fas fa-info-circle"></i></span>
                    </th>
                    <th>Düzeltme Tutarı</th>
                    <th>Son Bakiye</th>
                    <th>Durum</th>
                    <th style="width:120px"></th>
                </tr>

                @foreach (var item in Model)
                {
                <tr class="@(@item.AccountInfoType.Name.ToLower().Contains("silver") == true ? "alert-info": "") @(@item.AccountInfoType.Name.ToLower().Contains("gold") == true ? "alert-warning": "")">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SurName)
                    </td>
                    <td data-toggle="tooltip" data-placement="bottom" title="@item.AccountInfoType.Name">
                        @Html.DisplayFor(modelItem => item.AccountNumber)
                    </td>
                    <td>
                        @item.AccountTransactions.Where(x => x.Deposit == true && x.AddDate >= startDate && x.AddDate <= endDate && (x.TransactionStatus != QFinans.Areas.Api.Models.TransactionStatus.Deny)).Count().ToString("N0")
                    </td>
                    @if (item.TotalAmount == 0 || item.TotalAmount == null)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td class="text-right">
                            @(String.Format("{0:N2}", item.TotalAmount))
                        </td>
                    }
                    <td class="text-right">
                        @(
                            (item.AccountTransactions.Where(x => x.Deposit == true && x.AddDate >= startDate && x.AddDate <= endDate && x.TransactionStatus != QFinans.Areas.Api.Models.TransactionStatus.Deny).Sum(x => x.Amount) - item.AccountTransactions.Where(x => x.Deposit == false && x.AddDate >= startDate && x.AddDate <= endDate && x.TransactionStatus == QFinans.Areas.Api.Models.TransactionStatus.Confirm).Sum(x => x.Amount) - (item.AccountTransactions.Where(x => x.Deposit == true && x.AddDate >= startDate && x.AddDate <= endDate && x.TransactionStatus != QFinans.Areas.Api.Models.TransactionStatus.Deny && x.IsFree == false).Sum(x => x.Amount) * 3.4M / 100) + (item.TotalAmount ?? 0)
                            ).ToString("N2")
                        )
                    </td>
                    @if (item.IsPassive == false)
                    {
                        <td><span class="badge badge-success">Aktif</span></td>
                    }
                    else
                    {
                        <td><span class="badge badge-secondary">Pasif</span></td>
                    }
                    <td>
                        <button type="submit" class="btn btn-xs btn-warning" data-toggle="modal" data-target="#exampleModal-@item.Id" title="Sil"><i class="far fa-edit"></i> Düzenle</button>
                        <div class="modal fade" id="exampleModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Düzeltme Tutarı Ekle</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    @using (Html.BeginForm("EditTotalAmount", "AccountInfo", new { id = item.Id }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="modal-body">

                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            <div class="form-group">
                                                <label class="control-label col-md-12">Düzeltme Tutarı</label>
                                                <div class="col-md-12">
                                                    <input class="form-control text-box single-line valid" id="totalAmount-@item.Id" name="totalAmount" type="number" value="@Math.Round(item.TotalAmount ?? 0,0,MidpointRounding.AwayFromZero)">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-info" data-dismiss="modal"><i class="fas fa-times-circle"></i> Vazgeç</button>
                                            <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-save"></i> Kaydet</button>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                }

            </table>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-2">
                <span>Sayfa @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
            </div>
            <div class="col-sm-10">
                @Html.PagedListPager(Model, page => Url.Action("Index", "AccountInfo", new { page = page, currentFilter = ViewBag.CurrentFilter })
                                                                            , new PagedListRenderOptions
                                                                            {
                                                                                UlElementClasses = new string[] { "pagination pagination-sm justify-content-end my-0" },
                                                                                LiElementClasses = new string[] { "page-item" },
                                                                                ContainerDivClasses = new string[] { "page float-right" }
                                                                            })
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        setInterval(function () {
            window.location.reload(1);
        }, 600000);
        $("#selectPageSize").val(@ViewBag.CustomPageSize);
        function getPageSize() {
            $("#formSearch").submit();
        };
    </script>
}
