@model QFinans.Areas.Api.Models.CashFlow
@using QFinans.Models;
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Edit";
    ApplicationDbContext db = new ApplicationDbContext();
    var _user = db.Users.Find(User.Identity.GetUserId());
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Hesap Hareketi Ekle</h5>
        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group row">
                @Html.LabelFor(model => model.CashFlowTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CashFlowTypeId", null, "Seçiniz", htmlAttributes: new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.CashFlowTypeId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.AccountInfoId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("AccountInfoId", null, "Seçiniz", htmlAttributes: new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.AccountInfoId, "", new { @class = "text-danger" })
                </div>
            </div>

            if (_user.IsAdmin == true)
            {
                <div class="form-group row">
                    @Html.LabelFor(model => model.TransactionDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TransactionDate, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local", @Value = Model.TransactionDate.ToString("yyyy-MM-ddTHH:mm") } })
                        @Html.ValidationMessageFor(model => model.TransactionDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row d-none">
                    @Html.LabelFor(model => model.TransactionDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TransactionDate, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local", @Value = Model.TransactionDate.ToString("yyyy-MM-ddTHH:mm") } })
                        @Html.ValidationMessageFor(model => model.TransactionDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            }


            <div class="form-group row">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>

            <fieldset class="form-group">
                <div class="row">
                    <label class="col-form-label col-sm-2 pt-0">Hareket Türü</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="IsCashIn" id="CashIn" value="true" required>
                            <label class="form-check-label" for="IsCashIn">
                                Giriş
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="IsCashIn" id="CashOut" value="false">
                            <label class="form-check-label" for="IsCashOut">
                                Çıkış
                            </label>
                        </div>
                        @Html.ValidationMessageFor(model => model.IsCashIn, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <div class="row">
                    <label class="col-form-label col-sm-2 pt-0">İşlem Durumu</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="IsFree" id="IsFree" value="true" required>
                            <label class="form-check-label" for="IsFree">
                                Ücretsiz
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="IsFree" id="IsNotFree" value="false">
                            <label class="form-check-label" for="IsNotFree">
                                Ücretli
                            </label>
                        </div>
                        @Html.ValidationMessageFor(model => model.IsFree, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>

            <div class="form-group row">
                @Html.LabelFor(model => model.IsTransfer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="custom-checkbox">
                        @Html.EditorFor(model => model.IsTransfer, new { @class = "custom-control-input" })
                        @Html.ValidationMessageFor(model => model.IsTransfer, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Explanation, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Explanation, new { @class = "form-control", @rows = "6" })
                    @Html.ValidationMessageFor(model => model.Explanation, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr />
            <a class="btn btn-sm btn-info" href="@Url.Action("Index", "CashFlow")"><i class="fas fa-arrow-circle-left"></i> Geri Dön</a>
            <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-save"></i> Kaydet</button>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('.select2').select2({
                theme: 'bootstrap4',
            });
        });
        if ("@Model.IsCashIn" === "True") {
            $("#CashIn").prop("checked", true);
        } else {
            $("#CashOut").prop("checked", true);
        }
    </script>
}