@model IEnumerable<QFinans.Areas.Api.Models.UnRecordedDeposit>
@{
    ViewBag.Title = "UnRecordedDeposit";

    if (ViewBag.CurrentDateFrom != null)
    {
        ViewBag.CurrentDateFrom = ViewBag.CurrentDateFrom.ToString("yyyy-MM-dd");
    }

    if (ViewBag.CurrentDateTo != null)
    {
        ViewBag.CurrentDateTo = ViewBag.CurrentDateTo.ToString("yyyy-MM-dd");
    }
}


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Hesap Verilemeyen Yatırımlar</h5>
        <hr />

        @using (Html.BeginForm("Index", "Report", FormMethod.Get, new { @id = "formSearch" }))
        {
            <input name="Organization" type="hidden" value="@ViewBag.CurrentOrganization">
            <div class="row mb-4 align-items-end">
                <div class="col-md-5">
                    <label>Başlangıç</label>
                    @Html.TextBox("DateFrom", ViewBag.CurrentDateFrom as string, new { @class = "form-control form-control-sm", @Type = "date" })
                </div>
                <div class="col-md-5">
                    <label>Bitiş</label>
                    @Html.TextBox("DateTo", ViewBag.CurrentDateTo as string, new { @class = "form-control form-control-sm", @Type = "date" })
                </div>



                <div class="col-md-2">
                    <div class="d-flex flex-row-reverse">
                        <button class="btn btn-sm btn-info" type="submit"><i class="fas fa-search"></i> Ara</button>
                    </div>
                </div>

            </div>
        }

        <div class="table-responsive mt-3">
            <table class="table table-sm table-bordered table-hover table-dark text-white-50" id="reportTable">
                <thead>
                    <tr>
                        <th>Tarih</th>
                        <th>Kullanıcı Adı</th>
                        <th>İsim</th>
                        <th>Soyisim</th>
                        <th>Müşteri Banka Id</th>
                        <th>Tutar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.AddDate</td>
                            <td class="text-right">@item.UserName</td>
                            <td class="text-right">@item.Name</td>
                            <td class="text-right">@item.SurName</td>
                            <td>@item.CustomerBankInfoId</td>
                            <td class="text-right">@item.Amount.ToString("N2")</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Toplam Adet</th>
                        <th class="text-right" colspan="5">@Model.Select(x => x.Id).Count().ToString("N0")</th>
                    </tr>
                    <tr>
                        <th>Toplam Tutar</th>
                        <th class="text-right" colspan="5">@Model.Sum(x => x.Amount).ToString("N2")</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

