@model PagedList.IPagedList<QFinans.Areas.Api.Models.MoneyTransfer>
@using PagedList.Mvc;
@using QFinans.Models;
@using QFinans.Areas.Api.Models;

@{
    ViewBag.Title = "Çekim";
    DateTime date = DateTime.Now.Date;
    DateTime startDate = new DateTime(date.Year, date.Month, 1); ;
    DateTime endDate = startDate.AddMonths(1).AddSeconds(-1);
    ApplicationDbContext db = new ApplicationDbContext();
    var _timeNow = DateTime.Now.AddMinutes(-30);
    var _lastOneHourDeposit = db.AccountTransactions.Where(x => x.Deposit == true && x.AddDate >= _timeNow).ToList();
    var _bankInfo = db.BankInfo.Where(x => x.IsDeleted == false && x.IsArchive == false).ToList();

    if (ViewBag.CurrentDateFrom != null)
    {
        ViewBag.CurrentDateFrom = ViewBag.CurrentDateFrom.ToString("yyyy-MM-dd");
    }

    if (ViewBag.CurrentDateTo != null)
    {
        ViewBag.CurrentDateTo = ViewBag.CurrentDateTo.ToString("yyyy-MM-dd");
    }
}

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3 border-bottom">
            <h5 class="card-title">Çekim Talepleri (H/EFT)</h5>
            <div>
                <a class="btn btn-xs btn-success" href="@Url.Action("CreateDraw", "MoneyTransfers")"><i class="fas fa-plus-circle"></i> Çekim Ekle</a>
            </div>
        </div>

        @using (Html.BeginForm("Draw", "MoneyTransfers", FormMethod.Get, new { @id = "formSearch" }))
        {
            <div class="row mb-4 align-items-end">
                <div class="col-xl-2">
                    <select class="custom-select mr-2" id="selectPageSize" name="CustomPageSize" onchange="getPageSize()" style="width:80px;">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="250">250</option>
                    </select>
                </div>

                <div class="col-xl-4">
                    <label>Hesap</label>
                    <select class="custom-select select2" id="accountInfoId" name="accountInfoId">
                        <option selected>Seçiniz</option>
                        @foreach (var item in _bankInfo)
                        {
                            <option value="@item.Id">@item.Name @item.Surname (@item.BankType.Name - @item.Iban)</option>
                        }
                    </select>
                </div>

                <div class="col-xl-4">
                    <label>Durum</label>
                    <select class="custom-select" id="transactionStatus" name="transactionStatus">
                        <option>Seçiniz</option>
                        <option value="1">Yeni</option>
                        <option value="2">Onay</option>
                        <option value="3">Red</option>
                    </select>
                </div>

            </div>

            <div class="row mb-4 align-items-end">
                <div class="col-xl-4">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Başlangıç</label>
                            @Html.TextBox("DateFrom", ViewBag.CurrentDateFrom as string, new { @class = "form-control", @Type = "date" })
                        </div>
                        <div class="col-md-6">
                            <label>Bitiş</label>
                            @Html.TextBox("DateTo", ViewBag.CurrentDateTo as string, new { @class = "form-control", @Type = "date" })
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div>
                        <label>Arama kelimesi</label>
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Arama yapmak için bir kelime yazın" })
                    </div>
                </div>

                <div class="col-xl-2 float-right">
                    <button class="btn btn-sm btn-info" type="submit"><i class="fas fa-search"></i> Ara</button>
                </div>
            </div>
        }

        <div class="table-responsive">
            <table class="table table-sm table-bordered table-hover table-dark text-white-50" id="tabelDeposit">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Kullanıcı
                    </th>
                    <th>
                        İsim
                    </th>
                    <th>
                        Soyisim
                    </th>
                    <th>
                        Tutar
                    </th>
                    <th>
                        Müşteri Bankası
                    </th>
                    <th>
                        Hesap
                    </th>
                    <th class="tarih">
                        Tarih
                    </th>
                    <th>Açıklama</th>
                    <th>
                        Durum
                    </th>
                    <th style="width: 110px !important"></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr class="@(@item.TransactionStatus == QFinans.Areas.Api.Models.TransactionStatus.Confirm ? "bg-confirm": "") @(@item.TransactionStatus == QFinans.Areas.Api.Models.TransactionStatus.Deny ? "bg-deny": "") @(@item.TransactionStatus == QFinans.Areas.Api.Models.TransactionStatus.New ? "bg-new": "")" id="transaction-@item.Id">
                        <td id="id-@item.Id">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td id="userName-@item.Id">
                            @if (_lastOneHourDeposit.Where(x => x.UserName == item.UserName).Count() >= 2 && _lastOneHourDeposit.Any(x => x.Id == item.Id))
                            {
                                <i class="far fa-clock text-white"></i>
                            }
                            @if (db.BlackList.Where(x => x.IsDeleted == false).Any(x => x.UserName == item.UserName) == true)
                            {
                                <i class="fas fa-user-secret text-white"></i>
                            }
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td id="name-@item.Id" style="font-size:16px">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td id="surName-@item.Id" style="font-size:16px">
                            @Html.DisplayFor(modelItem => item.SurName)
                        </td>
                        <td class="text-right" id="amount-@item.Id" style="font-size:18px">
                            @if (item.Amount == item.OldAmount)
                            {
                                <span class="mb-1">@item.Amount.ToString("N0")</span><br />
                            }
                            else
                            {
                                <span class="badge badge-success" style="font-size:100%">@item.Amount.ToString("N0")</span>
                                <span class="badge badge-danger" style="font-size:100%">@String.Format("{0:N0}", item.OldAmount)</span>
                            }
                        </td>
                        <td>
                            <span class="d-block">@Html.DisplayFor(modelItem => item.CustomerBankInfo.BankType.Name)</span>
                            <span class="d-block">@Html.DisplayFor(modelItem => item.CustomerIban)</span>
                        </td>
                        <td id="accountNumber-@item.Id" class="text-right">
                            @if (item.BankInfoId != null)
                            {
                                <span class="d-block">@item.BankInfoId - @item.BankInfo.Name @item.BankInfo.Surname</span>
                                <span class="d-block">@item.BankInfo.BankType.Name</span>
                            }
                        </td>
                        <td class="text-center">
                            <span class="d-block">@Html.DisplayFor(modelItem => item.AddDate)</span>
                            <span class="d-block">@Html.DisplayFor(modelItem => item.ResponseDate)</span>
                        </td>
                        <td id="note-@item.Id">
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td>
                            @if (item.TransactionStatus == QFinans.Areas.Api.Models.TransactionStatus.Confirm)
                            {
                                if (item.Amount == item.OldAmount)
                                {
                                    <span class="badge badge-success" id="status-@item.Id" title="Confirm">Onay</span>
                                }
                                else
                                {
                                    <span class="badge badge-warning text-wrap" id="status-@item.Id" title="Confirm">Onay (Düzenlendi)</span>
                                }
                            }
                            @if (item.TransactionStatus == QFinans.Areas.Api.Models.TransactionStatus.Deny)
                            {
                                <span class="badge badge-danger" id="status-@item.Id" title="Deny">Red</span>
                            }
                            @if (item.TransactionStatus == QFinans.Areas.Api.Models.TransactionStatus.New)
                            {
                                <span class="badge badge-info" id="status-@item.Id" title="New">Yeni</span>
                            }
                        </td>
                        <td>
                            <button type="button" class="btn btn-xs btn-success btn-block mb-1" data-toggle="modal" data-target="#modelConfirm-@item.Id"><i class="fas fa-check-circle"></i> Onayla</button>
                            <button type="button" class="btn btn-xs btn-danger btn-block mb-1" data-toggle="modal" data-target="#exampleModal-@item.Id"><i class="fas fa-times-circle"></i> Reddet</button>
                            <a class="btn btn-xs btn-warning btn-block" href="@Url.Action("Edit", "MoneyTransfers", new { id = item.Id })"><i class="far fa-edit"></i> Düzenle</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-2">
                <span>Sayfa @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
            </div>
            <div class="col-sm-10">
                @Html.PagedListPager(Model, page => Url.Action("Draw", "MoneyTransfers", new { page = page, currentFilter = ViewBag.CurrentFilter, currentDateFrom = ViewBag.CurrentDateFrom, currentDateTo = ViewBag.CurrentDateTo, currentTransactionStatus = ViewBag.CurrentTransactionStatus, currentAccountInfoId = ViewBag.CurrentAccountInfoId })
                                                                            , new PagedListRenderOptions
                                                                            {
                                                                                UlElementClasses = new string[] { "pagination pagination-sm justify-content-end my-0" },
                                                                                LiElementClasses = new string[] { "page-item" },
                                                                                ContainerDivClasses = new string[] { "page float-right" }
                                                                            })
            </div>
        </div>

    </div>
</div>

@foreach (var item in Model)
{
    <div class="modal fade" id="modelConfirm-@item.Id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="/MoneyTransfers/ConfirmDraw/@item.Id" method="post" id="formConfirm-@item.Id">
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <h5 class="modal-title">Onayla</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-warning" role="alert">
                            Onaylamak istediğinizden emin misiniz?
                        </div>

                        <label for="bankInfo-@item.Id">Hesap</label>
                        <select class="form-control mb-3 select2" id="bankInfo-@item.Id" name="bankInfoId">
                            <option value="">Seçiniz</option>
                            @foreach (var item2 in _bankInfo)
                            {
                                <option value="@item2.Id">@item2.Name @item2.Surname (@item2.BankType.Name - @item2.Iban)</option>
                            }
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-info" data-dismiss="modal"><i class="fas fa-times-circle"></i> Vazgeç</button>
                        <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-check-circle"></i> Onayla</button>
                    </div>
                </form>


            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle-@item.Id" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modalContent-@item.Id">
                <form action="/MoneyTransfers/Deny/@item.Id" method="post" id="formDeny-@item.Id">
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <h5 class="modal-title">Reddet</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="validationTextarea-@item.Id">Red Gerekçesi</label>
                            <select class="form-control form-control-sm mb-3" id="selectDeny-@item.Id" onclick="setReason(@item.Id)">
                                <option value="">Seçiniz</option>
                                <option value="Yatırım Bulunmamaktadır.">Yatırım Bulunmamaktadır.</option>
                                <option value="İptal">İptal</option>
                                <option value="RED">RED</option>
                                <option value="">Diğer</option>
                            </select>
                            <textarea class="form-control form-control-sm" id="validationTextarea-@item.Id" name="aciklama" placeholder="Açıklama gereklidir." rows="6" required>@item.Note</textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-info" data-dismiss="modal"><i class="fas fa-times-circle"></i> Vazgeç</button>
                        <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-times-circle"></i> Reddet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section scripts{
    @if (ViewBag.CurrentTransactionStatus != null)
    {
        <script>
            $("#transactionStatus").val(@Convert.ToInt32(ViewBag.CurrentTransactionStatus));
        </script>
    }
    <script>
        $(document).ready(function () {
            $('.select2').select2({
                theme: 'bootstrap4',
            });
        });

        $("#accountInfoId").val(@ViewBag.CurrentAccountInfoId);

        setInterval(function () {
            window.location.reload(1);
        }, 120000);

        $("#selectPageSize").val(@ViewBag.CustomPageSize);

        function getPageSize() {
            $("#formSearch").submit();
        };

        function setReason(id) {
            _reason = $("#selectDeny-" + id).val();
            $("#validationTextarea-" + id).val(_reason);
            //alert(_reason)
        }
    </script>
}



